<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Rename Accounts</title>
</head>
<body>
	<h2>
		<span th:text="${account.accountName}"></span>
	</h2>

	<form th:object="${account}"
		th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
		method="post">
		<div>
			Name <input type="text"  th:field="*{accountName}"> <br>
			<button type="submit">Change Name Now?</button>

		</div>



	</form>
	<a th:href="@{/users/{userId}(userId=${user.userId})}"><span>Back</span></a>





</body>

</html>