<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Create Account</title>
</head>
<body>
	<h1>Create Your Account</h1>

	<form action="@{/register}" method="post" th:object="${address}">
		<div>
			Username: <input type="text" th:field="${user.username}" />
		</div>
		<div>
			Password: <input type="password" th:field="${user.password}" />
		</div>
		<div>
			Full Name: <input type="text" th:field="${user.name}" />
		</div>
		<div>
			Address Line 1: <input type="text"
				th:field="${user.address.addressLine1}" />
		</div>
		<div>
			Address Line 2: <input type="text"
				th:field="${user.address.addressLine2}" />
		</div>
		<div>
			City: <input type="text" th:field="${user.address.city}" />
		</div>
		<div>
			Region: <input type="text" th:field="${user.address.region}" />
		</div>
		<div>
			Country: <input type="text" th:field="${user.address.country}" />
		</div>
		<div>
			Zip Code: <input type="text" th:field="${user.address.zipCode}" />
		</div>
		<br>
		<!-- 				<div> -->
		<!-- 					<label for="accounts">Account #1</label> <select name="accounts" -->
		<!-- 						id="accounts"><option value="checking" >Checking</option> -->
		<!-- 						<option value="savings" >Savings</option> -->
		<!-- 						</select> -->
		<!-- 						<br> -->




		<br>
		<!-- 					<label for="accounts">Account #2</label> <select th:field=${user.account.name} name="accounts" -->
		<!-- 						id="accounts"><option value="checking" >Checking</option> -->
		<!-- 						<option value="savings" >Savings</option> -->
		<!-- 						</select><br> -->
		<!-- 					<label for="accounts">Account #3</label> <select name="accounts" -->
		<!-- 						id="accounts"><option value="checking" >Checking</option> -->
		<!-- 						<option value="savings" >Savings</option> -->
		<!-- 						</select><br> -->
		<!-- 					<label for="accounts">Account #4</label> <select name="accounts" -->
		<!-- 						id="accounts"><option value="checking" >Checking</option> -->
		<!-- 						<option value="savings" >Savings</option> -->
		<!-- 						</select><br> -->
		<!-- 					<label for="accounts">Account #5</label> <select name="accounts" -->
		<!-- 						id="accounts"><option value="checking" >Checking</option> -->
		<!-- 						<option value="savings" >Savings</option> -->
		<!-- 						</select><br> -->
		</div>
		<div>
			<input type="submit" value="Create Account" />
		</div>
	</form>
</body>
</html>