<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Create Account</title>
 <link rel="stylesheet" th:href="@{/styles/cssandjs/NewFile.css}"  type="text/css"/>

</head>
<body>
	<h1>Create Your Account</h1>

	<form action="/register" method="post" th:object="${user}">
		<div class="form-container">
			Username: <input type="text" th:field="*{username}" />
		
			Password: <input type="password" th:field="*{password}" />
		
			Full Name: <input type="text" th:field="*{name}" />
		
			Address Line 1: <input type="text" th:field="*{address.addressLine1}" />
		
			Address Line 2: <input type="text" th:field="*{address.addressLine2}" />
		
			City: <input type="text" th:field="*{address.city}" />
		
			Region: <input type="text" th:field="*{address.region}" />
		
			Country: <input type="text" th:field="*{address.country}" />
		
			Zip Code: <input type="text" th:field="*{address.zipCode}" />
		</div>
		<br>
		<div>		
		</div>
		<div>
			<input type="submit" value="Create Account" />
		</div>
	</form>
</body>
</html>
