<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
 <link rel="stylesheet" th:href="@{/styles/cssandjs/NewFile.css}"  type="text/css"/>
<title>Specific Users</title>



</head>
<body>
	<h1>User</h1>
	<form th:action="@{/users/{userId}(userId=${user.userId})}" 
		method="post" th:object="${user}">
		
		<div  class="form-container">
			Username: <input type="text" th:field="*{username}" />
		
		
			Password: <input type="text" th:field="*{password}" />
	
			Full Name: <input type="text" th:field="*{name}" />
				</div>
				<h2>Address</h2>
<!-- 		margin --><div class="form-container">
			
			Address Line 1: <input type="text" th:field="*{address.addressLine1}" />
		
			Address Line 2: <input type="text" th:field="*{address.addressLine2}" />
		
			City: <input type="text" th:field="*{address.city}" />
		
			Region: <input type="text" th:field="*{address.region}" />
		
			Country: <input type="text" th:field="*{address.country}" />
		
			Zip Code: <input type="text" th:field="*{address.zipCode}" />
<!-- 		margin -->
			<button type="submit">Update Account</button>
		
</div>

	</form>
	
	<div class="form-container">
	<form th:action="@{/users/{userId}/delete(userId=${user.userId})}"
		method="post">
		<button type="submit" id="submitButton">Delete Account</button>
	</form>
</div>

	<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}"
		method="post">
		<h2>Accounts</h2>

		<div th:each="account: ${accounts}"th:if="${#lists.size(accounts)>0}">
			<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}"><span  th:text="${account.accountName}"></span></a><br>
			
			
			<span th:unless="${#lists.size(accounts)>0}">"Nothing to see here"</span>


		</div>
		<button type="submit">Add Account</button>
	
	</form>
<a th:href="@{/users}"><span>Back</span></a> 


</body>


</html>